body {
  font-family: Georgia, serif;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  font-size: 40px;
}


nav{
  padding: 10px;



}

.logo{
  width: 30px;
  height: 24px;
}


article{
  margin-right: 25px;
  margin-left: 25px;
  text-align: even;
}

span{
  font-size: 65px;
}


img {
  img size: 300px;
  width: 100%;
  object-fit: contain;
}

.caption {
  font-size: 14px;
  font-family: Georgia, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  text-align: center;
}




h1 {
  font-family: Teko, sans-serif;
  font-size: px;
}

h2 {
  font-family: Georgia, sans-serif;
  font-size: 16px;
  margin-bottom: 1.5rem;
}

h3{
  font-family: Georgia, sans-serif;
}

p {
  font-size: 16px;
  font-family: Georgia, sans-serif;
  margin-right: auto;
  margin-left: auto;

}

ol{
  font-family: Georgia, sans-serif;
}




footer{
  text-align: center;
}








